# .gitignore file for picosdk-c-wrappers repository
# Untracked files/folders to ignore.

# Windows Platforms

**/.vs
**/Debug
**/Release
**/*.sdf
**/*.txt
**/*.vcxproj.user
**/x64
**/*.opensdf
**/*.dll
**/*.lib
**/*.suo
**/*.VC.db


